.med-board {
	width: 600px;
	height: 600px;
  text-align: center;
  margin: 0;
  padding: 0; 
}

@font-face {
      font-family: "Austria";
      src: url("../fontLove/austria/Austria.ttf");
}
 
.love { 
 	font-family: "Austria", serif;
}

@font-face {
      font-family: "Spring in May";
      src: url("../fontLove/spring_in_may/Spring_in_May.ttf");
    }
 
.love2 { 
 	font-family: "Spring in May", serif;
  text-align: center;
}
 
@font-face {
      font-family: "SweetHeartRegular";
      src: url("../fontLove/sweet_heart_3/SweetHeartRegular.ttf");
    }
 
.love3 { 
 	font-family: "SweetHeartRegular", serif;
  text-align: center;
}
 
