.med-board {
	width: 300px;
	height: 300px;
}

.short-board {
	width: 350px;
	height: 200px;
}

.big-board {
	width: 600px;
	height: 450px;
}

.input-zise {
	width: 50px;
	border-radius: 10%;
}

@font-face {
      font-family: "Austria";
      src: url("../fontLove/austria/Austria.ttf");
}
 
.love { 
 	font-family: "Austria", serif;
}

  @font-face {
      font-family: "Spring in May";
      src: url("https://github.com/komuisam/fonts/blob/main/fontLove/spring_in_may/Spring%20in%20May.ttf");
    }
 
.love2 { 
 	font-family: "Spring in May", serif;
}
 
@font-face {
      font-family: "SweetHeartRegular";
      src: url("../fontLove/sweet_heart_3/SweetHeartRegular.ttf");
    }
 
.love3 { 
 	font-family: "SweetHeartRegular", serif;
}
 
